@media screen and (min-device-width:768px) and (max-device-width:1024px) {
  body{
      width: auto;
      height: auto;
  }
}

/* General */
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  margin: 0;
  padding: 0;
}

header > img{
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  align-items: center;
  padding: 15px;
  height: 70px;
  background-color: black;
  width: auto;
}

.snakers {
  height: 70px;
}

nav {
  flex: 1;
  text-align: right;
  
}

nav ul {
  display: inline-block;
  list-style-type: none;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

a {
  text-decoration: none;
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.snakers {
  height: 70px;
}


.rev-section{
  margin: auto;
  padding: 0 1rem;
  max-width: 1100px;
  text-align: center;
}

.title{
  font-size: 2.5rem;
  text-transform: uppercase;
  color: rgb(50, 50, 50);
  margin-bottom: .5rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.note{
  font-size: 1.1rem;
  color: rgb(150, 150, 150);
  font-style: italic;
}

.reviews{
  margin: 2rem auto;
  display: flex;
  flex-wrap: wrap;
}
.review{
  margin: 0 1rem;
  min-width: 300px;
  flex: 1;
}

.people{
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 10px 25px rgba(0, 0, 0, .25);
}

.body-review{
  background-color: rgb(238, 238, 238);
  padding: 2.5rem;
  box-shadow: 2px 2px 10px 3px rgb(225, 225, 225);
  margin-bottom: 30px;
}
.name-review{
  font-size: 1.5rem;
  color: rgb(50, 50, 50);
  margin-bottom: .25rem;
}
.place-review{
  color: rgb(124, 10, 10);
  font-style: italic;
}
.rating{
  color: rgb(253, 180, 42);
  margin: 1rem 0;
}
.desc-review{
  line-height: 1.5rem;
  letter-spacing: 1px;
  color: rgb(125, 125, 125);
}

@media (max-width: 678px){
  .review{
    margin-top: 1.5rem;
  }
}
/* Footer CSS */
footer{
  display: block;
  background-color: black;
  color: white;
  margin-top: 35px;
  padding-bottom: 20px;
}

.footerTitle {
  font-family:cursive;
}

.footer{
  display: flex;
}

.footerLogo{
  display: block;
  min-zoom: 100px;
}

.footerCompany{
  flex: 1;
  padding-left: 5em;
}

.footerCategory{
  flex: 1;
}

.footerSupport{
  flex:1;
}

.footerFollow{
  flex: 1;
}

.igpic {
  height: 20px;
}

.fbpic{
  height: 20px;
}
